@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

button {
    font-family: Roboto, sans-serif;
    border: 100px;
    border-radius: 5px;
    padding: 8px 24px;
    color:#E5E7EB;
    font-weight: bold;
    background: #3882F6;
    width: 125px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}

.section {
    display: flex;
    padding: 0px 200px;
}

.main-section {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 15px;
}

.sidebar-hero {
    font-weight: bold;
    font-size: 48px;
    width: 400px;
    line-height: 1.5ch;
}

.sidebar-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.image-placeholder img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

.information-section {
    margin: 50px 0 50px 0;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
}

.section-two-title {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.info-content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 350px;
    font-weight: lighter;
}

.info-content > img {
    width: 150px;
    height: auto;
    border: 5px solid #3882F6;
}

.quote-section {
    background: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

#quote-author {
    font-weight: bold;
    font-size: 20px;
}

.action-section {
    height: 500px;
    justify-content: center;
    align-items: center;
}

.action-section > div {
    display: flex;
    width: 1000px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #3882F6;
    border-radius: 12px;
}

.left-text {
    color: #E5E7EB;
}

.left-text-bold {
    font-weight: bold;
    font-size: 36px;
}

.sign-up-container > button {
    border: 2px solid #E5E7EB;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: #1F2937;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

img {
    width: 40px;
    height: auto;
    border-radius: 12px;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}